*
!*/
bin/
lib/
backup/
!*.pas
!*.pp
!*.inc
!*.lpk
!*.lpr
!*.lpi
!*.lrs
!*.lfm
!*.glsl
!*.frag
!*.vert
!*.py
!*.txt
!*.html
!*.css
!*.pmd
!*.jpg
!*.png
!*.tga
!*.bmp
!*.ttf
!*.xml
!*.blend
!*.js
!*.sh
!*.svg
!*.gz
!*.ico
!*.json
!*.woff
!*.woff2
!*.xml

!.gitignore
